.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

* {
  box-sizing: border-box;
}

body {
  /*color: #8f8f8f;*/
  color: #fff;
  background:#171717;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: underline;
  text-decoration-color: #e8f380;
  color: #fff;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: none;
  font-family: 'Ubuntu', sans-serif;
  color: #e8f380;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
  text-align: justify;
}

footer {
    margin: auto;
    text-align: center;
    /* background: #333333; */
    color: #fff;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}

.content {
  padding: 50px 2% 50px;
}

.hero {
  position: relative;
  background: #333 url(../img/batman.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding-top: 110px;
  min-height: 500px;
  letter-spacing: 2px;
  font-family: 'Ubuntu', sans-serif;
}
.hero h1 {
  font-size: 50px;
  line-height: 1.3;
  text-transform: uppercase;
}
.hero h1 span {
  font-size: 25px;
  color: #e8f380;
  border-bottom: 2px solid #e8f380;
  padding-bottom: 12px;
  line-height: 3;
}

